* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

.main-container {
  background: #000;
  color: #fff;
  
  .content{
    display: flex;
    width: 70%;

    .main-feed{
      width: 50%;
      padding: 0;

    }
  }

}

