* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

.main-container {
  background: #242D35;
  color: #fff;
  

}

.modal-container{
  border-radius: 20px;
  background: #000;
  height: 70%;
  max-height: 650px;
}