// Colors
$primary-color: #1da1f2;
$text-color: #ffffff;

// Button Styles
.button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: none;
  font-size: 16px;
  color: #ffffff;
  max-height: 36px;
  transition: all 0.1s;
  cursor: pointer;


  &:focus {
    outline: none;
    // box-shadow: 0 0 0 2px;
  }



  &-auth {
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 2px lighten(#1da1f2, 20%);
    }

    &:active {
      background-color: darken($primary-color, 20%);
    }

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  &-close {
    padding: 5px 10px;
    color: #d9d9d9;
    background: none;
    margin: 10px;
    font-size: 21px;

    &:hover {
      background-color: darken(#d9d9d9, 70%);
    }
  }

  &-log {
    color: #000;
    width: 100%;
    margin-bottom: 30px;
  }

  &-back {
    background: none;
    &:hover{
      background-color: #16181C;
      transition: all .3s;

  }
  }

  &-input-change {
    background: none;
    color: #1da1f2;
    font-weight: 600;
  }

  &-edit-profile{
    background: none;
    border: 1px solid;
    font-weight: 600;

    &:hover{
      background-color: #1d2025;
      transition: all .1s;
  
    }
  }

  &-save-edits{
    color: #000;
    font-weight: 500;

    &:hover {
      background-color: darken(#d9d9d9, 10%);

    }
  }
}
