// Colors
$primary-color: #1da1f2;
$border-color: #444242;
$placeholder-color: #657786;

.form-control {
  position: relative;
  border-radius: 4px;

  label {
    position: absolute;
    color: #444242;
    top: 30%;
    left: 8px;
    transition: all 0.2s;
  }

  &:focus-within {
    transition: all 0.2s;
    // box-shadow: 0 0 0 2px $primary-color;

    &,
    .char-counter__container {
      .counter {
        color: $border-color;
      }
    }
  }

  &:focus-within label {
    font-size: 14px;
    color: $primary-color;
    top: 8px;

    transition: all 0.2s;
  }
  select,
  textarea,
  input {
    display: inline-block;
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
    


  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
      -webkit-text-fill-color: #fff !important;
  }
  
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
    -webkit-text-fill-color: #fff !important;
  }

    textarea {
      resize: none;
    }
  // input:focus ~ label,
  // textarea:focus ~ label,
  input:not(:placeholder-shown) ~ label{
    top: -50px;
  }
  
  .char-counter__container {
    position: absolute;
    right: 10px;
    // transform: translate(-50%, -50%);
    top: 10px;

    .counter {
      color: transparent;
      font-size: 14px;
    }
  }

  // for dialog window
  &-border {
    border: 1px solid $border-color;

    &:focus-within {
      transition: all 0.2s;
      box-shadow: 0 0 0 2px $primary-color;
    }
  }
  &-new-tweet-input{
    width: 100%;
  }
}

.form-control--invalid {
  border-color: red;

  &:focus-within {
    transition: all 0.2s;
    box-shadow: none;

    label {
      color: red;
    }
  }
}
.error-text {
  color: red;
  margin: 0;
}
