
.user-item{
    justify-content: space-between;
    display: flex;
    max-height: 60px;
    transition: all .3s;
    border-radius: 25px;
    padding: 10px;
    bottom: 10px;
    left: 0;
    position: absolute;

    &:hover{
        background-color: #16181C;
        transition: all .3s;

    }
    .user-item_image{ 

        img {
            width: 130px;
            height: 130px;
            border-radius: 50px;
            object-fit: cover;
        }
    }

    .props-item_info{
        margin-left: 10px;



        h3, p{
            margin: 0;
        }
    }
}

.user-profile__header{
    display: flex;
    padding: 5px 0;
    .header__user-info{
        .tweet-count{
            margin: 0;
            font-size: 12px;
            color: grey;
        }
    }
}

.profile-background__container{
    .profile-background{
        .bg{
            max-height: 200px;
            width: 100%;
        }
    }
}



.user-profile__info{
    padding: 10px;
    
    .image-btn__container{
        display: flex;
        justify-content: space-between;

        .user-profile__image{
            img{
                position: absolute;
                top: 180px;
            }
        }
    }

    .profile-name__container{
        .profile-name{
            h3{
                margin-bottom: 0;
            }
        }
        .nick-name{
            p{
                margin: 0;
                color: grey;
            }
        }
    }

    .registration-info{
        padding: 10px 0;
        color: grey;
        display: flex;

        .location-container{
            display: flex;
            margin-right: 10px;

            .location-icon{
                margin-right: 5px;



            }
        }  

        .link-container{
            display: flex;
            margin-right: 10px;

            
            .link-icon{
                margin-right: 5px;


            }
        }

        .date-container{
            display: flex;
                margin-right: 10px;

            .date-icon {
                margin-right: 5px;
            }
        }

    }

    .folowers-info{
        display: flex;
        justify-content: space-between;
        width: max-content;

        .col{
            padding-right: 10px;
            display: flex   ;

            .count{
                padding-right: 5px;
            }
            .text{
                color: gray;
                margin: 0;

            }
        }
    }

}

