
.avatar{
    img{
        height: 135px;
        width: 135px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #000;
    }

    &.tweet-creator{
        
        img{
            height: 60px;
            width: 60px;
            border-radius: 50px;
        }
    }
}