.modal {
  // width: 600px;
  // height: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: rgb(56 117 128 / 26%);
}

.modal-container {
  border-radius: 20px;
  background: #000;
  height: max-content;
  min-height: 280px;
  max-height: 650px;
  width: 600px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 20;

  .modal_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;

    &.tweet{

      border-top: 1px solid #444242;

    }
  }
}


.modal_header{
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);

  .btn-container{
    display: flex;
    justify-content: space-between;

    .save-btn {
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
  }
}



.modal_content{
  padding-top: 54px;
  height: 100%;

}