.modal {
  // width: 600px;
  // height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: rgb(56 117 128 / 26%);
}

.modal-container {
  width: 600px;
  // height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 20;
}
