// class for body to awoid scrolling
.no-scroll{
  overflow: hidden;
}

.modal {
  // width: 600px;
  // height: 50%;
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  background: #000;
  height: max-content;
  // min-height: 280px;
  max-height: 650px;
  width: 600px;
  // overflow-y: scroll;
  position: fixed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  &-confirmation{
    width: 300px;


    .modal_content{
      padding: 0;
    }
  }

  &-new-tweet{
    top: 10%;
  }

  // &-auth{
   
  // }

}

.modal-container {
  .modal_header{
    padding: 10px 20px;
    &.no-header{
      display: none;
    }
  }
  .modal_footer {
    width: 100%;

    &.no-footer{
      display: none;
    }

    &.tweet{

      border-top: 1px solid #444242;

    }
  }
}


.modal_header{
  width: 100%;

  background-color: rgba(0, 0, 0, 0.65);

  .btn-container{
    display: flex;
    justify-content: space-between;

    .save-btn {
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
  }
}



.modal_content{
  height: 100%;

}