.tweet-container {
    display: flex;
    padding: 10px;

    .tweet-header {
        display: flex;
        justify-content: space-between;
    }

    .tweet-description__container {
        margin: 8px 0;
    }

    .twit-actions__content {
        display: flex;
        justify-content: space-between;
    }

    .creator-image {
        margin-right: 5px;
    }

    .tweet-content {
        width: 100%;
    }

    .creator-info {
        display: flex;

        .name {
            margin: 0 5px 0 0;
            font-size: 16px;
            font-weight: 700;
        }
        .nickname {
            margin: 0 5px 0 0;
            color: grey;
        }

        .date {
            margin: 0 5px 0 0;
        }
    }

    .tweet-image__container {
        img {
            border-radius: 20px;
            // width: 100%;
            max-height: 510px;
            object-fit: contain;
        }
    }
}
