

.tweet-form__container{
    width: 100%;

    .tweet-form{


        .replay__container{
            display: flex;
            
            .icon{
                color: #fff;
                margin-right: 10px;
            }
            .select-replier{
                color: #1DA1F2;
                font-weight: 600;
            }
        }

    }
}


// jsx is in modal footer 
.tweet-footer__container{
    display: flex;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #666;

    .tweet-options{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 20px;

        .icon{
            color: #fff;
        }
    }
}
