
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 100vh;


    .aside-left{
        width: 24%;
        display: flex;
        justify-content: flex-end;
        
        .header-main{
            max-width: 250px;
            min-width: 230px;
            height: max-content;
            position: sticky;
            top: 10px;
            
        }
        
        .navigation-container {
            display: flex;
            flex-direction: column;
        }
    }
    // .main-content{
    //     width: 45%;
    // }
    // .aside-right {
    //     width: 30%;
    // }
}

.column{
    

    padding: 10px 20px;
}

.main-feed{
    border: 1px solid #444242;;
}