
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 100vh;


    .aside-left{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        
        .header-main{

            width: 230px;
            
        }
        
        .navigation-container {
            display: flex;
            flex-direction: column;
        }
    }
    .main-content{
        width: 45%;
    }
    // .aside-right {
    //     width: 30%;
    // }
}

.column{
    

    padding: 10px 20px;
}

.main-feed{
    border: 1px solid #444242;;
}