
ul > li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

ul {
    padding: 0;
}

.aside-container{
    height: 100%;
    position: relative;
    // max-width: 250px;
}

.logo{
    width: 60px;
}